.btn {
  background: unset;
  border: none;
  font-size: 16px;
  text-transform: uppercase;
  font-family: 'Roboto';
  cursor: pointer;
  opacity: 0.8;
}
.categoriesContainer{
  /* background-color: pink; */
  margin:30px;
}